*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e3eeff;
    background-image: url("./heading-bg.jpg");
    background-size: cover;
}

.container{
    width: 100%;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading {
    width: 100%;
    text-align: center;
}
h1 {
    margin: 50px auto;
    width: 100%;
    display: block;
    font-size: 70px;
    margin-bottom: 0;
    /* background-image: url("./heading-bg.jpg");
    background-size: contain; */
    /* background-clip: text; */
    color: #3a4452;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.calculator{
    background: #3a4452;
    width: 25.5%; 
    padding: 20px;
    border-radius: 10px;
    display: block;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background-color: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    padding: 20px;
}
form input.equal{
    width: 145px;
}



form input.operator{
    color:#33ffd8;
}